<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<title>My Application</title>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form method=post enctype=multipart/form-data>
    <input type=file name=file required>
    <input type=submit value=Upload>
</form>