<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<title>My Application</title>

<h1>Gracias por subir el document</h1>
<p>{{title}}</p>
<div>
    <table>
        <thead>
            <th>index</th>value<th></th>
        </thead>
        <tbody>
            {% for link in nav %}
            <tr>
                <td>{}</td>
                <td></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

</div>
<a href="/upload">Subir mas</a>